<section id="contact" class="info-module is-active hero is-medium contact">
        <div class="hero-body">
            <div class="container">
              <div class="columns">
                <div class="is-10-mobile is-offset-1-mobile is-8-tablet is-offset-2-tablet is-6-desktop column">
                  <h2 class="is-2 is-uppercase title">Contact Us</h2>
                  <div class="buttons has-addons">
                        <a href="https://www.instagram.com/campsunnyroad/" class="button is-white is-large">
                            <span class="icon">
                            <i class="fab fa-instagram"></i>
                            </span>
                        </a>
                        <a href="https://www.facebook.com/campsunnyroad" class="button is-white is-large">
                          <span class="icon">
                            <i class="fab fa-facebook"></i>
                          </span>
                        </a>
                        <a href="mailto:campsunnyroad@gmail.com" class="button is-white is-large">
                                <span class="icon">
                                  <i class="fas fa-envelope"></i>
                                </span>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
</section>
          