<footer class="footer">
	<div class="container">
		<small class="is-centered">&copy;{{ dateFormat "2006" now }} Camp Sunny Road</small>
		<small class="is-centered">Built with <span class="icon">
				<i class="fas fa-headphones"></i>
				</span>
				<span class="icon">
				<i class="fas fa-coffee"></i>
				</span>
				<span class="icon">
				<i class="fas fa-heart"></i>
				</span>
				by Sunny Road Camper <a href="https://www.instagram.com/thesash"> @thesash</a>
			</small>
		</div>
</div>
</footer>

<script src="/app.js"></script>

</body>

</html>
