<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="is-10-mobile is-offset-1-mobile is-5-tablet is-offset-2-tablet is-4-desktop column">
					<h5 class="title is-6 is-uppercase">Get Your Camp On</h5>
					<p>Follow Camp Sunny Road on Instagram or Facebook and slide into our DMs to request the passcode. And please let us know if you have any questions.</p>
			</div>
			<div class="is-10-mobile is-offset-1-mobile is-2-tablet is-offset-1-tablet column">
				<a class = "button is-white" href="https://www.instagram.com/campsunnyroad/" >
				<span class="icon is-small">
						<i class="fab fa-instagram"></i>
				</span>
				<span>@campsunnyroad</span>
				</a>
			
			</div>
		</div>
		<div class = "is-10-mobile is-offset-1-mobile is-8-tablet is-offset-2-tablet column">
			<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/5e8118324c9d5960bf6fcf1e1d74b96f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>	
		</div>
	</div>
	<div class="is-10-mobile is-offset-1-mobile is-8-tablet is-offset-2-tablet column">
		<small class="is-10 columns is-centered">&copy;{{ dateFormat "2006" now }} Camp Sunnyroad</small>
	</div>
	

</footer>

<script src="/app.js"></script>

</body>

</html>
