<section id="navTop" class="hero is-link map-image is-fullheight home-cta has-navbar-fixed-top">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar is-fixed-top">
            <div class="container">
              <div class="navbar-brand">
                <a href="#navTop" class="navbar-item">
                  <img src="/img/logo.png" alt="Logo"/>
                </a>
                <span class="navbar-item is-hidden-desktop right">
                        <a href="/apply" class="button is-white is-inverted">
                            Sign Up
                        </a>
                  </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-start">
                    <span class="navbar-item">
                        <a href="#passes">Passes</a>
                    </span>
                    <span class="navbar-item">
                        <a href="#partners">Partners</a>
                    </span>
                    <span class="navbar-item">
                        <a href="#activities">Activities</a>
                    </span>
                    <span class="navbar-item">
                        <a href="#our-story">Our Story</a>
                    </span>
                    <span class="navbar-item">
                        <a href="#location">Location</a>
                    </span>
                    <span class="navbar-item">
                        <a href="#contact">Contact  </a>
                    </span>
                </div>
                <div class="navbar-end">
                <span class="navbar-item">
                    <span class="buttons">
                            <a href="/apply" class="button is-white is-inverted signup-button">
                                Sign Up
                            </a>
                    <span class="buttons has-addons">
                            <a href="https://www.instagram.com/campsunnyroad/" class="button is-white is-inverted">
                                <span class="icon">
                                  <i class="fab fa-instagram"></i>
                                </span>
                            </a>
                            <a href="https://www.facebook.com/campsunnyroad" class="button is-white is-inverted">
                                    <span class="icon">
                                      <i class="fab fa-facebook"></i>
                                    </span>
                            </a>
                            <a href="mailto:campsunnyroad@gmail.com" class="button is-white is-inverted">
                                    <span class="icon">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                            </a>
                    </span>
                </span>
                </div>
              </div>
            </div>
          </nav>
        </div>
      
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title is-1 uppercase">{{.heading}}</h1>
            <h2 class="title is-4">{{.subhead}}</h2>
            <h3 class="subtitle">{{.subtitle}}</h3>
            <a href="{{.url}}" class="button is-large is-primary">
                    <strong>{{.button}}</strong>
                </a>
          </div>
        </div>
</section>