<section class="hero is-link map-image is-fullheight home-cta has-navbar-fixed-top">
        <!-- Hero head: will stick at the top -->
       
      
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title is-1 uppercase">{{.heading}}</h1>
            <h2 class="title is-4">{{.subhead}}</h2>
            <h3 class="subtitle">{{.subtitle}}</h3>
            <a href="{{.url}}" class="button is-large is-primary">
                    <strong>{{.button}}</strong>
                </a>
          </div>
        </div>
</section>