<section class="container headline-cta">
    <div class="is-10-mobile is-offset-1-mobile is-8-tablet is-offset-2-tablet column">
        <h1 class="title is-1 uppercase">{{.heading}}</h1>
        <h2 class="title is-4">{{.subhead}}</h2>
        <h3 class="subtitle">{{.subtitle}}</h3>
    </div>
    <div class="is-10-mobile is-offset-1-mobile is-6-tablet is-offset-2-tablet is-4-desktop column ">
            <a href= {{.url}} class="button is-large is-primary">
                <strong>{{.button}}</strong>
            </a>
            <p>{{.text}}</p>
    </div>
</section>