<div class="container">
	<nav class="navbar" role="navigation" aaria-label="main navigation">
		<div class="navbar-brand">
			<a href="/" class="navbar-item">
				<img src="/img/logo.png" alt="Camp Sunny Road Logo"/>
			</a>
			
			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			</a>
			<div class="navbar-item right is-hidden-desktop">
					<a href="/tickets" class="button is-primary">
					<strong>Tickets</strong>
					</a>
			</div>
		</div>
		<div id="navbarMain" class="navbar-menu">
			<div class="navbar-start">
				<a href="/about" class="navbar-item">
				About
				</a>
			</div>
			<div class="navbar-end is-hidden-touch">
				<div class="navbar-item">
					<p class= "control">
						<a href="/tickets" class="button is-primary">
						<strong>Tickets</strong>
						</a>
					</p>
				</div>
			</div>
		</div>
		</div>
	</nav>
</div>
