<section id="partners" class="partners hero is-white is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="is-10 is-offset-1 is-10-mobile is-offset-1-mobile is-mobile column">
                    <h2 class="is-2 is-uppercase title">Partners</h2>
                    <ul class="is-10 columns is-multiline is-mobile is-vertical-center">
                        {{range .partners}}
                        <li class="is-3-mobile is-2-tablet is-2-desktop column"> 
                            <img src="{{.logo}}"/>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>