<section id="passes" class="hero is-primary is-fullheight passes">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
                    <div class="is-10-mobile is-offset-1-mobile is-offset-1-tablet is-5-tablet column pass-info">
                            <h2 class="title  is-2 is-uppercase">{{.heading}}</h2>
                            <h3 class="title is-4">{{.subhead}}</h3>
                            <ul class="is-10 columns is-multiline is-mobile bullet-list">
                                {{range .features}}
                                    <li class ="is-full column pass-feature">
                                            {{.feature}}
                                    </li>
                                {{end}}
                            </ul>
                            <h4 class="title  is-4 need-code">{{.apply_headline}}</h2>
                            <p>{{.apply_text}}</p>
                            <a class="button is-white is-medium" href="/apply">{{.apply_button}}</a>
                    </div>
                    <div class="is-12-mobile is-4-tablet is-4-desktop column is-offset-1-desktop">
                        <div id="blast-root"></div> <script>(function(d, s, id) {   var js, fjs = d.getElementsByTagName(s)[0];   if (d.getElementById(id)) return;   js = d.createElement(s); js.id = id;   js.src = "https://viablast.co/sdk/blast-sdk.js";   fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'blast-jssdk'));</script>
                        <div class="blast-checkout" data-id="uzuqtphl2k"></div>
                    </div>
          </div>
        </div>
      </section>
