<section id="passes" class="hero is-primary is-fullheight passes">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
                    <div class="is-10-mobile is-offset-1-mobile is-offset-1-tablet is-5-tablet column pass-info">
                            <h2 class="title  is-2 is-uppercase">{{.heading}}</h2>
                            <h3 class="title is-4">{{.subhead}}</h3>
                            <ul class="is-10 columns is-multiline is-mobile bullet-list">
                                {{range .features}}
                                    <li class ="is-full column pass-feature">
                                            {{.name}}
                                    </li>
                                {{end}}
                            </ul>
                    </div>
                    <div class="is-10-mobile is-offset-1-mobile is-offset-1-tablet is-4-tablet is-4-desktop column is-offset-1-desktop">
                        <script src="https://www.theticketfairy.com/resources/js/widget.js?50"></script>
                        <div id="ttf-container" style="width: 100%"></div>
                        <script>
                            var widget = new TTFWidget(
                                {
                                    event : 'campsunnyroad2020',
                                    compact : true
                                }
                            );
                        </script>
                    </div>
          </div>
        </div>
      </div>
      </section>
