<section id="passes" class="hero is-primary is-fullheight passes">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
                    <div class="is-10-mobile is-offset-1-mobile is-offset-1-tablet is-5-tablet column pass-info">
                            <h2 class="title  is-2 is-uppercase">{{.heading}}</h2>
                            <h3 class="title is-4">{{.subhead}}</h3>
                            <ul class="is-10 columns is-multiline is-mobile bullet-list">
                                {{range .features}}
                                    <li class ="is-full column pass-feature">
                                            {{.name}}
                                    </li>
                                {{end}}
                            </ul>
                    </div>
                         <div id="eventbrite-widget-container-89294978685" class="is-12-mobile is-offset-0-tablet is-6-tablet is-6-desktop column"></div>
                                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
                                <script type="text/javascript">

                                    window.EBWidgets.createWidget({
                                        // Required
                                        widgetType: 'checkout',
                                        eventId: '89294978685',
                                        iframeContainerId: 'eventbrite-widget-container-89294978685',
                                        iframeContainerHeight: 500, 
                                    });
                                </script>
          </div>
        </div>
      </div>
      </section>
