{{define "nav"}}{{ partial "headline-cta" (dict "heading" .Params.heading "subhead" .Params.subhead "subtitle" .Params.subtitle "text" .Params.text "button" .Params.button "url" .Params.url) }}
{{end}}
{{ define "main" }}

{{$f := .Site.GetPage "/tickets"}}
{{partial "passes" $f.Params}}

{{$p := .Site.GetPage "/partners"}}
{{partial "partners.html" $p.Params}}

{{$a := .Site.GetPage "/activities"}}
{{partial "activities.html" $a.Params}}


{{$s := .Site.GetPage "/about"}}
{{ partial "text-section" (dict "content" $s.Content "heading" $s.Params.heading "label" $s.Params.label "height" $s.Params.height)}}

{{$l := .Site.GetPage "/location"}}
{{ partial "text-section" (dict "content" $l.Content "heading" $l.Params.heading "label" $l.Params.label "height" $l.Params.height)}}

{{$c := .Site.GetPage "/contact"}}
{{partial "contact.html" $c.Params}}
{{ end }}
