{{define "nav" }}{{partial "header-home"}}{{ end }}
{{ define "main" }}

{{ partial "headline-cta" (dict "heading" .Params.heading "subhead" .Params.subhead "subtitle" .Params.subtitle "text" .Params.text "button" .Params.button "url" .Params.url) }}

{{$s := .Site.GetPage "/slides" }}
{{partial "slides.html"  $s.Params}}

{{$p := .Site.GetPage "/partners"}}
{{partial "partners.html" $p.Params}}

{{partial "activities.html" .Params}}

{{range .Params.sections}}
    {{ partial "short-text" (dict "heading" .heading "text" .text)}}
{{end}}

{{ end }}
