@import url("//hello.myfonts.net/count/38fda7");

  
@font-face { 
    font-family: 'Noka Black';
    src: url('/webfonts/38FDA7_0_0.eot');
    src: url('/webfonts/38FDA7_0_0.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/38FDA7_0_0.woff2') format('woff2'),
        url('/webfonts/38FDA7_0_0.woff') format('woff'),
        url('/webfonts/38FDA7_0_0.ttf') format('truetype');
}
@font-face { 
    font-family: 'Noka';
    font-weight: normal;
    font-style: normal;
    src: url('/webfonts/38FDA7_1_0.eot');
    src: url('/webfonts/38FDA7_1_0.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/38FDA7_1_0.woff2')  format('woff2'),
        url('/webfonts/38FDA7_1_0.woff') format('woff'),
        url('/webfonts/38FDA7_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Noka';
    font-weight: bold;
    font-style: normal;
    src: url('/webfonts/38FDA7_2_0.eot');
    src: url('/webfonts/38FDA7_2_0.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/38FDA7_2_0.woff2') format('woff2'),
        url('/webfonts/38FDA7_2_0.woff') format('woff'),
        url('/webfonts/38FDA7_2_0.ttf') format('truetype');
}